.header-logo {
    z-index: 100;
    position: relative;
    height: 100%;
    max-width: 20%;
    display: flex;
    gap: 4px;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    &__text {
        font-size: 28px;
    }
    @media (max-width:768px) {
        &__text {
            font-size: 20px;
        }
        & img {
            width: 40px;
        }
    }
    @media (max-width:500px) {
        &__text {
            font-size: 0;
        }
        & img {
            width: 40px;
        }
    }
    @media (max-width:400px) {
        
        & img {
            width: 30px;
        }
    }
}
